.services-container {
    width: 100%;
    height: 100%;
    padding: 10px;

    .header {
        display: flex;
        align-items: flex-end;

        .search {
            width: 450px;
        }
    }
}